@keyframes decale {
  0% {
    transform: translateX(50%);
    opacity: 0;
    height: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    height: 100%;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/**general**/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h2 {
  font-size: 24px;
  display: flex;
  justify-content: left;
  width: 330px;
}

a {
  text-decoration: none;
  color: black;
}

/**loader**/
.loader {
  position: fixed;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 1;
  animation: loader 10ms;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.loader::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-right: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
}

.cercle-a {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-right: 10px solid transparent;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  animation: spinner 2s infinite linear;
}

.cercle-b {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-right: 10px solid transparent;
  border-top: 10px solid #99E2D0;
  border-radius: 50%;
  animation: spinner 3s infinite linear;
}

.p-loader {
  position: absolute;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}

/**header**/
header {
  width: 100%;
  height: 63px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

/**1er section**/
.localisation {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  font-size: 16px;
  background-color: #eaeaea;
}

.explor {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation {
  margin: 0px;
  padding-top: 40px;
  font-weight: 700;
  width: 275px;
  text-align: center;
}

.decouverte {
  width: 315px;
  margin-bottom: 27px;
  text-align: center;
}

.bouton {
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  margin-bottom: 57px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 2000ms;
}
.bouton:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
  transition-duration: 2000ms;
}

/**2eme section**/
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boite-fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 322px;
  height: 72px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  margin-left: 15px;
}

.color-item-a {
  color: #7e7e7e;
}

.color-item-b {
  color: #9356DC;
}

.indication-fonctionnement {
  font-size: 16px;
  font-weight: 500;
  width: 211px;
  color: black;
}

.chiffre-position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #f7f7f7;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -20px;
}

.item-fonction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 290px;
}

/**3eme section**/
.color-section-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 46px;
  padding-bottom: 66px;
}

.titre-section-restaurant {
  padding-top: 54px;
  margin-left: 20px;
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.restaurant-1 {
  background: url(../assets/images/logo/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
}

.restaurant-2 {
  background: url(../assets/images/logo/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
}

.restaurant-3 {
  background-image: url(../assets/images/logo/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
}

.restaurant-4 {
  background: url(../assets/images/logo/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
}

.img-nouveau {
  display: flex;
  justify-content: flex-end;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
}

.new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  margin-right: 15px;
}

.new-b {
  background-color: transparent;
  color: transparent;
}

.presentation-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 77px;
  border-radius: 0px 0px 15px 15px;
}

.a-nom {
  width: 85%;
}

.nom-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70px;
  margin-left: 13px;
  width: 150px;
}

.nom {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
}

.ville {
  margin-top: 5px;
  margin-bottom: 0;
}

.i-coeur {
  position: relative;
  margin-right: 10px;
}

.coeur-a {
  position: absolute;
  font-size: 22px;
  margin-left: 90%;
  bottom: 30px;
}

.coeur-b {
  position: absolute;
  margin-left: 90%;
  bottom: 30px;
  font-size: 22px;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 2s;
}
.coeur-b:active {
  opacity: 1;
}
.coeur-b.coeur-a {
  color: transparent;
}

/**footer**/
footer {
  padding-bottom: 15px;
  padding-left: 25px;
  background-color: #353535;
  color: white;
}

.enseigne {
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  font-size: 18px;
  font-style: italic;
  padding-top: 22px;
  margin-bottom: 16px;
}

.boite-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.p-footer {
  margin-top: 0;
  margin-bottom: 7px;
  text-decoration: none;
  color: white;
}

/**mediaquery**/
@media (min-width: 768px) {
  /**general**/
  .presentation {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 675px;
  }
  /**1ere section**/
  .decouverte {
    width: 531px;
    margin-bottom: 18px;
    text-align: center;
  }
  .bouton {
    margin-bottom: 30px;
  }
  /**2eme section**/
  .fonctionnement {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-left: 180px;
    padding-right: 180px;
  }
  .h2-media {
    width: 100%;
    margin-left: 0;
  }
  .boiterow-media {
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 1000px;
    gap: 30px;
  }
  .boite-fonctionnement {
    width: 30%;
    max-width: 322px;
  }
  .indication-fonctionnement {
    width: 70%;
  }
  /**3eme section**/
  .color-section-restaurant {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 30px;
  }
  .titre-section-restaurant {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }
  .grid-media {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 1000px;
    gap: 50px;
  }
  .card-restaurant {
    width: 100%;
    max-width: 460px;
    height: 251px;
    margin: 0;
  }
  .coeur-b:hover {
    opacity: 1;
    transition-duration: 2s;
  }
  .coeur-b.coeur-a {
    color: transparent;
  }
  /**footer**/
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-right: 50px;
    height: 114px;
    padding-bottom: 0;
  }
  .boite-footer-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
    margin-top: 30px;
  }
  .enseigne {
    margin-top: 20px;
  }
  .icone-footer {
    margin-bottom: 10px;
  }
}
@media (min-width: 1352px) {
  .color-section-restaurant,
  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titre-section-restaurant,
  .h2-media {
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 1000px;
  }
}
@media all and (min-width: 768px) and (max-width: 950px) {
  .boiterow-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
  }
  .boite-fonctionnement {
    width: 400px;
    margin: 0;
  }
  .h2-media {
    display: flex;
    width: 330px;
  }
}/*# sourceMappingURL=style-homepage.css.map */