/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
Primaire  violet   #9356DC
Secondaire  rose   #FF79DA
Tertiaire  vert    #99E2D0
*/

.photohtml {
    width: 100px;
    height: 100px;
}

/*general*/
* {
    font-family: 'Roboto', sans-serif;
}

h1 ,
.enseigne {
    font-family: 'Shrikhand', cursive;
}

.boiterow {
    display: flex;
    flex-direction: row;
    align-items: center;
}